body {
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url("images/MSU.jpg");
}

.content-container {
    border: 2px solid #000000;
    padding: 20px;
    background-color: #444444;
    margin: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    margin: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

#internship-bullets {
    text-align: left;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awesome-link {
    display: block;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #712e3f;
    color: black;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#top-right:hover {
    background-color: #444444;
}

.awesome-link:hover {
    background-color: #000000;
}

.headshot {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.gis-image {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.northrop-grumman-image {
    width: 50%;
    max-width: 350px;
    height: auto;
}

#about {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#about .links {
    display: inline-block;
    margin-top: 10px;
}

#resume {
    text-align: left;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}